<!DOCTYPE html>
<html lang="en">
<head>
  <title>虚拟机管理系统</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/media/css/tree.css"/>
  <link rel="stylesheet" href="/media/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js" ></script>
  <script type="text/javascript" src="/media/js/cufon-yui.js"></script>
  <script type="text/javascript" src="/media/js/cufon-replace.js"></script>
  <script type="text/javascript" src="/media/js/roundabout.js"></script>
  <script type="text/javascript" src="/media/js/roundabout_shapes.js"></script>
  <script type="text/javascript" src="/media/js/gallery_init.js"></script>

  <script type="text/javascript" src="/media/dtree/dtree.js"></script>

 

</head>

<body>
  <!-- header -->
  <header>
    <div class="container">
    	<h1><a href="../home">虚拟机管理系统</a></h1>
      <nav>
        <ul>
        	<li><a href="/home">主界面</a></li>
          <li><a href="/res">资源视图</a></li>
          <li><a href="/work"  class="current">应用视图</a></li>
          <li><a href="/newvirt">新建虚拟机</a></li>
        </ul>
      </nav>
    </div>
	</header>
  <!-- #gallery -->
  
  <div class="main-box">
    <div class="container1">
      <div class="inside">
        <div class="wrapper">
   	<!-- aside -->
          <aside>

           
            <!-- .tree -->
          </aside>
          <!-- data -->
 
          <section id="content">

          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">Copyright - 信息工程研究所</div>
        <div class="fright"><a href="http://iiecas.cn/" target="_blank">信息工程研究所</a> iiecas.cn</div>
      </div>
    </div>
  </footer>
  <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
