<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>虚拟机集群管理系统</title>
		<script type="text/javascript" src="/media/jquery/jquery.js"></script>
      <!--link rel="StyleSheet" href="/media/dtree/dtree.css" type="text/css" /-->
      <script type="text/javascript" src="/media/dtree/dtree.js"></script>
		<script type="text/javascript">

//cpu
var chart_cpu; 
$(function() { 
    chart_cpu = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'cpu', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
                load: function() {  
                    var series = this.series[0]; 
                    setInterval(function() { 
                        var x = (new Date()).getTime() + 8*3600*1000, // 当前时间 
                        y = Math.random() * 100;//{{ cpu }}*100;  
                        series.addPoint([x, y], true, true); 
                                                     }, 1000); 
                                           } 
                               } 
                      }, 
        title: { 
            text: 'CPU使用记录走势图'  //图表标题 
                      }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                      }, 
        yAxis: { //设置Y轴 
            title: { text: 'CPU使用率'   },
            labels: {
			   	  formatter: function() {
				    		return this.value +'%';
				              }
                                 },
            max: 100, //Y轴最大值 
            min: 0  //Y轴最小值 
                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return 'CPU使用率'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'%'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                      }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                      }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime() + 8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: {{ cpu0 }} *100 
                                                      }); 
                                           } 
                return data; 
                                 })() 
                       }] 
           }); 
}); 
//mem
var chart_mem; 
$(function() { 
    chart_mem = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'mem', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
                load: function() {  
                    var series = this.series[0]; 
                    //每隔5秒钟，图表更新一次，y数据值在0-100之间的随机数 
                    setInterval(function() { 
                        var x = (new Date()).getTime()+8*3600*1000, // 当前时间 
                        y = {{ mem }};  
                        series.addPoint([x, y], true, true); 
                                                      },1000); 
                                           } 
                                 } 
                      }, 
        title: { 
            text: '内存使用记录走势图'  //图表标题 
                      }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                     }, 
        yAxis: { //设置Y轴 
            title: { text: '内存使用记录'   },
            labels: {
			   	  formatter: function() {
				    		return this.value / 100 +'k';
				              }
                                 },
            max: 1000, //Y轴最大值 
            min: 0  //Y轴最小值 

                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return '内存使用'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'k'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                     }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                     }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime()+8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: {{ mem0 }} 
                                                      }); 
                                            } 
                return data; 
                                 })() 
                      }] 
         }); 
}); 
//rx
var chart_rx; 
$(function() { 
    chart_rx = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'rx', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
                load: function() {  
                    var series = this.series[0]; 
                    setInterval(function() { 
                        var x = (new Date()).getTime() + 8*3600*1000, // 当前时间 
                        y = {{ cpu }}*100;  
                        series.addPoint([x, y], true, true); 
                                                       }, 1000); 
                                           } 
                                 } 
                      }, 
        title: { 
            text: '网络流量接收图'  //图表标题 
                     }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                      }, 
        yAxis: { //设置Y轴 
            title: { text: '接收网络流量'   },
            max: 100, //Y轴最大值 
            min: 0  //Y轴最小值 
                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return '接收网络流量'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'kb/s'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                      }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                     }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime() + 8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: {{ cpu0 }} *100 
                                                      }); 
                                           } 
                return data; 
                                })() 
                     }] 
          }); 
}); 
//tx
var chart_tx; 
$(function() { 
    chart_tx = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'tx', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
                load: function() {  
                    var series = this.series[0]; 
                    setInterval(function() { 
                        var x = (new Date()).getTime() + 8*3600*1000, // 当前时间 
                        y = {{ cpu }}*100;  
                        series.addPoint([x, y], true, true); 
                                                       }, 1000); 
                                           } 
                                 } 
                      }, 
        title: { 
            text: '网络流量发送图'  //图表标题 
                     }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                      }, 
        yAxis: { //设置Y轴 
            title: { text: '发送网络流量'   },
            max: 100, //Y轴最大值 
            min: 0  //Y轴最小值 
                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return '发送网络流量'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'kb/s'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                      }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                     }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime() + 8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: {{ cpu0 }} *100 
                                                      }); 
                                           } 
                return data; 
                                })() 
                     }] 
          }); 
}); 

		</script>
</head>
<body>
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/modules/exporting.js"></script>
<h3>虚拟机集群管理系统</h3>
<p> </p>
<div id="query" style="width: 300px; height: 200px ;position: absolute; left:500px;top:70px">
    <!--a>ip:</a--> <input type="text" id="ip" value="127.0.0.1"/>
    <!--a>number:</a--> <input type="text" id="n" value="1"/>
    <p><input type="button" value="查询"  onclick="query()" ></p>
</div>
<div class="dtree" style="background-color:white; font-size:20px; width: 300px; height: 200px ;position: absolute; left:100px;top:70px">
	<script type="text/javascript">
		d = new dTree('d');

		d.add(0,-1,'Management');
		d.add(1,0,'Node 1','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(2,0,'Node 2','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(3,1,'VM 1.1','','','','/media/dtree/img/cd.gif','/media/dtree/img/cd.gif');
		d.add(4,0,'Node 3','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(5,4,'VM 4.1','','','','/media/dtree/img/cd.gif','/media/dtree/img/cd.gif');
		d.add(6,4,'VM 4.2','','','','/media/dtree/img/cd.gif','/media/dtree/img/cd.gif');

		document.write(d);
	</script>
</div>
<!--div class="dtree" style="font-size:22px">test</div-->
<div id="cpu" style="width: 600px; height: 300px; position: absolute; left:50px;top:250px"></div>
<p> </p>
<div id="mem" style="width: 600px; height: 300px; position: absolute; left:50px;top:600px"></div>
<p> </p>
<div id="rx" style="width: 600px; height: 300px; position: absolute; left:700px;top:250px"></div>
<p> </p>
<div id="tx" style="width: 600px; height: 300px; position: absolute; left:700px;top:600px"></div>
<!--div id="tx" style="width: 600px; height: 300px; margin: 0 auto"></div-->


	</body>
</html>
