<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>虚拟机集群管理系统</title>
		<script type="text/javascript" src="/media/jquery/jquery.js"></script>
      <!--link rel="StyleSheet" href="/media/dtree/dtree.css" type="text/css" /-->
      <script type="text/javascript" src="/media/dtree/dtree.js"></script>
		<script type="text/javascript">
		var chart_cpu;
		var chart_mem;
		var chart_rx; 
		var chart_tx; 
		//更新
		function requestData() {
			$.ajax({
            //async: false,
				url: '/ajax/json', 
				success: function(point) {
               var stime = new Date();
               /*if(!chart_cpu){
      				 setTimeout(requestData, 1000);
                   return     
                                         }   */                                        
               //alert("success")
               // add 4 points
               var x = (new Date()).getTime() + 8*3600*1000; // 当前时间 
               var out = eval("(" + point + ")")
               //var out = eval( point )
					var y1 = out[0]
               var y2 = out[1]
               var y3 = out[2]
               var y4 = out[3]
               var y5 = out[4]
               var y6 = out[5]
               var y7 = out[6]
               /*alert(y1);
               alert(y2);
               alert(y3);
               alert(y4);
					alert(y5);
					alert(y6);
					alert(y7);*/
               chart_cpu.series[0].addPoint([x,y3], true, true);
               chart_mem.series[0].addPoint([x,y2], true, true);
               chart_rx.series[0].addPoint([x,y4], true, true);
               chart_tx.series[0].addPoint([x,y5], true, true);

					// call it again after one second
               var etime = new Date();
               d_date=etime.getTime()-stime.getTime();
					setTimeout(requestData, 1000 - d_date);	
				},
				cache: false
			});
		}


//cpu
$(document).ready(function(){ 
    chart_cpu = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'cpu', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
                load: requestData
                               } 
                      }, 
        title: { 
            text: 'CPU使用记录走势图'      //图表标题 
                      }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',       //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                      }, 
        yAxis: { //设置Y轴 
            title: { text: 'CPU使用率'   },
            labels: {
			   	  formatter: function() {
				    		return this.value +'%';
				              }
                                 },
            max: 100, //Y轴最大值 
            min: 0  //Y轴最小值 
                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return 'CPU使用率'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'%'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                      }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                      }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime() + 8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: 0 * 100 
                                                      }); 
                                           } 
                return data; 
                                 })() 
                       }] 
           }); 
}); 
//mem
 
$(function() { 
    chart_mem = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'mem', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
           
                                 } 
                      }, 
        title: { 
            text: '内存使用记录走势图'  //图表标题 
                      }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                     }, 
        yAxis: { //设置Y轴 
            title: { text: '内存使用记录'   },
            labels: {
			   	  formatter: function() {
				    		return this.value / 100 + 'kb';
				              }
                                 },
            max: 200000, //Y轴最大值 
            min: 0  //Y轴最小值 

                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return '内存使用'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2) + 'kb'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                     }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                     }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime()+8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: 0 
                                                      }); 
                                            } 
                return data; 
                                 })() 
                      }] 
         }); 
}); 
//rx

$(function() { 
    chart_rx = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'rx', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',   //背景颜色
            events: { 
             
                                 } 
                      }, 
        title: { 
            text: '网络流量接收图'  //图表标题 
                     }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                      }, 
        yAxis: { //设置Y轴 
            title: { text: '接收网络流量'   },
            labels: {
			   	  formatter: function() {
				    		return this.value +'kb/s';
				              }
                                 },
            max: 200, //Y轴最大值 
            min: 0  //Y轴最小值 
                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return '接收网络流量'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'kb/s'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                      }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                     }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime() + 8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: 0 * 100 
                                                      }); 
                                           } 
                return data; 
                                })() 
                     }] 
          }); 
}); 
//tx

$(function() { 
    chart_tx = new Highcharts.Chart({ 
        chart: { 
            renderTo: 'tx', //图表放置的容器，DIV 
            defaultSeriesType: 'spline', //图表类型为曲线图 
            backgroundColor:'#DFFDFD',
            events: { 
        
                                 } 
                      }, 
        title: { 
            text: '网络流量发送图'  //图表标题 
                     }, 
        xAxis: { //设置X轴 
            title: { text: '时间'   },  
            type: 'datetime',  //X轴为日期时间类型 
            tickPixelInterval: 150  //X轴标签间隔 
                      }, 
        yAxis: { //设置Y轴 
            title: { text: '发送网络流量'   },
            labels: {
			   	  formatter: function() {
				    		return this.value +'kb/s';
				              }
                                 },
            max: 100, //Y轴最大值 
            min: 0  //Y轴最小值 
                      }, 
        tooltip: {//当鼠标悬置数据点时的提示框 
            formatter: function() { //格式化提示信息 
                return '发送网络流量'+ 
                Highcharts.dateFormat('%H:%M:%S', this.x) +' '+  
                Highcharts.numberFormat(this.y, 2)+'kb/s'; 
                                } 
                      }, 
        legend: { 
            enabled: false  //设置图例不可见 
                      }, 
        exporting: { 
            enabled: false  //设置导出按钮不可用 
                     }, 
       
        series: [{ 
            data: (function() { //设置默认数据， 
                var data = [], 
                time = (new Date()).getTime() + 8*3600*1000, 
                i; 
 
                for (i = -19; i <= 0; i++) { 
                    data.push({ 
                        x: time + i * 1000,  
                        y: 0 *100 
                                                      }); 
                                           } 
                return data; 
                                })() 
                     }] 
          }); 
}); 
ajax/tree
		</script>
</head>
<body>
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/modules/exporting.js"></script>
<h3>虚拟机集群管理系统</h3>
<p> </p>

<div class="dtree" id="treeDiv" style="background-color:white; font-size:20px; width: 300px; height: 200px ;position: absolute; left:100px;top:70px">
	<script type="text/javascript">
      alert("success")		
      /*d = new dTree('d');

		d.add(0,-1,'Management');
		d.add(1,0,'Node 1','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(2,0,'Node 2','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(3,1,'VM 1.1','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(4,0,'Node 3','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(5,4,'VM 4.1','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
		d.add(6,4,'VM 4.2','','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');*/
      $(document).ready(function(){
            alert("1")
                                //生成新的树，ajax方式获取最新tree，每个json item表示一个节点
            $.getJSON('/ajax/tree',function(data){
            alert("2")
                  tree = new dTree('tree');   //参数tree，表示生成的html代码中id的标记，不影响功能
                  tree.add(0,-1,'Management');     //树根
                        //遍历JSON中的每个entry
                  $.each(data,function(entryIndex,entry){
                       tree.add(entry['id'], entry['pid'], entry['name'],'','','','/media/dtree/img/base.gif','/media/dtree/img/base.gif');
                                                 });
                  $("#treeDiv").html(tree.toString());
                                  });
                });

		//document.write(d);
	</script>
</div>
<!--div class="dtree" style="font-size:22px">test</div-->
<div id="cpu" style="width: 600px; height: 300px; position: absolute; left:50px;top:250px"></div>
<p> </p>
<div id="mem" style="width: 600px; height: 300px; position: absolute; left:50px;top:600px"></div>
<p> </p>
<div id="rx" style="width: 600px; height: 300px; position: absolute; left:700px;top:250px"></div>
<p> </p>
<div id="tx" style="width: 600px; height: 300px; position: absolute; left:700px;top:600px"></div>
<!--div id="tx" style="width: 600px; height: 300px; margin: 0 auto"></div-->


	</body>
</html>
