<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>虚拟机管理系统</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
  </head>
  


<frameset rows="10%,78%,12%">

<frame src="title" noresize>
<frameset cols="20%,80%">
<frame src="tree" noresize>

<frame src="resource" name="rsrc" noresize>

</frameset>
<frame src="app" noresize>

</frameset>

</html>
